{% extends "polls/base.html" %}

{% block title %} Polls {% endblock %}

{% block content %}

{% if latest_question_list %}
  <div class="ui relaxed list">
  {% for question in latest_question_list %}
    <div class="item">
      <i class="large question middle aligned icon"></i>
          <div class="content">
            <a href="{% url 'polls:detail' question.id %}" class="header">
            {{ question.question_text }}
            </a>
            <div class="description">{{ question.pub_date }}</div>
          </div>

    </div>
  {% endfor %}
  </div>
{% else %}
  <p>No polls are available.</p>
{% endif %}

{% endblock %}
